build/
*.elf
*.nro
*.nacp
*.pfs0
*.nsp
.DS_Store
*.bak
debug*.log
*.apk
*.xapk
libmain.so
libunity.so
libil2cpp.so
global-metadata.dat
assets/bin/Data/
il2cpp/
prefs.kv

__pycache__/
*.pyc

__pycache__/
*.pyc
